.App {
  text-align: center;
  margin-top: 2%;
}

.large-swatch {
  margin: 0 auto;
  max-width: 900px;
  height: 410px;
  background-color: black;
}
  
 .button-container {
   margin: 0 auto;
   max-width: 900px;
   display: flex;
 }

.button-container > div {
  height: 210px;
  width: 180px;
}
.red {
  background-color: red;
}

.green {
  background-color: #26FF03;
}

.blue {
  background-color: #40B3FE;
}
.orange {
  background-color: #F9AE03;
}

.pink {
  background-color: #FA00FF;
}
.purple { 
  background-color: purple;
}

@media screen and (max-width: 768px) {
  .App {
    text-align: center;
   margin: 2%;
  }
  .large-swatch {
    height: 300px;
  }

  .button-container > div {
    height: 150px;
    width: 180px;
  }
}
