body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.large-swatch {
  margin: 0 auto;
  max-width: 900px;
  height: 200px;
  background-color: black;
}
  
 .button-container {
   margin: 0 auto;
   max-width: 900px;
   display: flex;
 }

.button-container > div {
  height: 210px;
  width: 180px;
}
.red {
  background-color: red;
}

.green {
  background-color: #26FF03;
}

.blue {
  background-color: #40B3FE;
}
.orange {
  background-color: #F9AE03;
}

.pink {
  background-color: #FA00FF;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 500px;
    height: 300px;
  }
  .large-swatch {
    height: 300px;
  }

  .button-container > div {
    height: 150px;
    width: 180px;
  }
}
